<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/adminPanel/addProduct}" th:object="${product}" enctype="multipart/form-data">
    <div class="grid">
        <label for="name">
            Name
            <input th:field="*{name}" id="name" placeholder="Name..." required>
        </label>
        <label for="price">
            Price
            <input th:field="*{price}" type="number" id="price" placeholder="Price..." required>
        </label>
    </div>
    <div>
        <label for="productType">
            Product type
            <select id="productType" th:field="*{productType}">
                <option th:each="productType: ${productTypes}" th:value="${productType.id}" th:text="${productType.name}"/>
            </select>
        </label>
    </div>
    <div class="form-group">
        <input type="file" name="image" accept="image/*" class="form-control-file">
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>